.body {
    font-family: 'Roboto', sans-serif;
}
.header {
    display: flex;
    background-color: #1F2937;
    color: white;
    justify-content: space-between;
    font-size: 18px;
}
.links{
    display: flex;
    gap: 1rem;
} 
.top-half {
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    flex: 1;
}
.hero-main-text{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}